.highlight .hll { background-color: #ffffcc }
.highlight  { background: #000; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #24a87d; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .p { color: #738c9b }
.highlight .s1 { color: #66D4FF; color: #98CAFF }  /* string literal */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #6c6f6f; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #4e6979; } /* Generic.Output */
.highlight .gp { color: #373737; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #3664bb; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #F4F4F9; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #24a87d } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #7CFF91; } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #24a87d; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #5298f2; } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #5298f2; } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #00ADF0 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #66D4FF; } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #7CFF91; } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

* {
	scrollbar-color: #364c57 #222;
}

/* side navigation bar */

/*.wy-body-for-nav {
    background: none;
}*/

.wy-nav-side, .wy-nav-top {
	color: #cecccc;
	background: #161c20;
}

.wy-nav-content-wrap {
	background: #0e1215;
}

.wy-side-nav-search {
	background: #161c20;
}

.wy-menu-vertical a {
	color: #afd7e3;
}
.wy-menu-vertical a:hover {
	background:#274348
}

/* navigation bar tree */

.wy-menu-vertical li.toctree-l2 a, 
.wy-menu-vertical li.toctree-l3 a, 
.wy-menu-vertical li.toctree-l4 a, 
.wy-menu-vertical li.toctree-l5 a, 
.wy-menu-vertical li.toctree-l6 a, 
.wy-menu-vertical li.toctree-l7 a, 
.wy-menu-vertical li.toctree-l8 a, 
.wy-menu-vertical li.toctree-l9 a, 
.wy-menu-vertical li.toctree-l10 a {
    color: #77b3ca;
}

.wy-menu-vertical li.current a {
    color: #77b3ca;
	background: #141a1c;
    border-left: 1px solid #4dcce187;
	border-right: none;
}
.wy-menu-vertical li.current a:hover {
	background:#467780
}

.wy-menu-vertical li.current > a, 
.wy-menu-vertical li.on a {
    color: #a2e1f4;
    background: #3a4c4f;
    border-left: 3px solid #7ae7f2f2;
	border-right: none;
	border-top: none !important;
	border-bottom: none !important;
}
.wy-menu-vertical li.toctree-l2.current > a, 
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background: #0f1417;
}

.wy-menu-vertical li.toctree-l2.current > a, 
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background: #0f1417;
}

.wy-menu-vertical li.toctree-l3.current > a, 
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    background: #212f35;
}

/* search bar */

.wy-side-nav-search input {
    border-color: #2472a4;
    background: #000;
    color: #fff;
	box-shadow: none;
}

/* main page */

a:visited { /* links visited */
    color: #479da2;
}

.wy-nav-content {
    background: none;	/* remove former background */
	color: #c6c5c5;
}


/* notes and attachments */

.rst-content .note .admonition-title, 
.rst-content .note .wy-alert-title, 
.rst-content .seealso .admonition-title, 
.rst-content .seealso .wy-alert-title, 
.rst-content .wy-alert-info.admonition-todo .admonition-title, 
.rst-content .wy-alert-info.admonition-todo .wy-alert-title, 
.rst-content .wy-alert-info.admonition .admonition-title, 
.rst-content .wy-alert-info.admonition .wy-alert-title, 
.rst-content .wy-alert-info.attention .admonition-title, 
.rst-content .wy-alert-info.attention .wy-alert-title, 
.rst-content .wy-alert-info.caution .admonition-title, 
.rst-content .wy-alert-info.caution .wy-alert-title, 
.rst-content .wy-alert-info.danger .admonition-title, 
.rst-content .wy-alert-info.danger .wy-alert-title, 
.rst-content .wy-alert-info.error .admonition-title, 
.rst-content .wy-alert-info.error .wy-alert-title, 
.rst-content .wy-alert-info.hint .admonition-title, 
.rst-content .wy-alert-info.hint .wy-alert-title, 
.rst-content .wy-alert-info.important .admonition-title, 
.rst-content .wy-alert-info.important .wy-alert-title, 
.rst-content .wy-alert-info.tip .admonition-title, 
.rst-content .wy-alert-info.tip .wy-alert-title, 
.rst-content .wy-alert-info.warning .admonition-title, 
.rst-content .wy-alert-info.warning .wy-alert-title, 
.rst-content .wy-alert.wy-alert-info .admonition-title, 
.wy-alert.wy-alert-info .rst-content .admonition-title, 
.wy-alert.wy-alert-info .wy-alert-title {
    background: #406e8c;
}
.rst-content .note, 
.rst-content .seealso, 
.rst-content .wy-alert-info.admonition, 
.rst-content .wy-alert-info.admonition-todo, 
.rst-content .wy-alert-info.attention, 
.rst-content .wy-alert-info.caution, 
.rst-content .wy-alert-info.danger, 
.rst-content .wy-alert-info.error, 
.rst-content .wy-alert-info.hint, 
.rst-content .wy-alert-info.important, 
.rst-content .wy-alert-info.tip, 
.rst-content .wy-alert-info.warning, 
.wy-alert.wy-alert-info {
    background: #132431;
}

.rst-content .hint .admonition-title, 
.rst-content .hint .wy-alert-title, 
.rst-content .important .admonition-title, 
.rst-content .important .wy-alert-title, 
.rst-content .tip .admonition-title, 
.rst-content .tip .wy-alert-title, 
.rst-content .wy-alert-success.admonition-todo .admonition-title, 
.rst-content .wy-alert-success.admonition-todo .wy-alert-title, 
.rst-content .wy-alert-success.admonition .admonition-title, 
.rst-content .wy-alert-success.admonition .wy-alert-title, 
.rst-content .wy-alert-success.attention .admonition-title, 
.rst-content .wy-alert-success.attention .wy-alert-title, 
.rst-content .wy-alert-success.caution .admonition-title, 
.rst-content .wy-alert-success.caution .wy-alert-title, 
.rst-content .wy-alert-success.danger .admonition-title, 
.rst-content .wy-alert-success.danger .wy-alert-title, 
.rst-content .wy-alert-success.error .admonition-title, 
.rst-content .wy-alert-success.error .wy-alert-title, 
.rst-content .wy-alert-success.note .admonition-title, 
.rst-content .wy-alert-success.note .wy-alert-title, 
.rst-content .wy-alert-success.seealso .admonition-title, 
.rst-content .wy-alert-success.seealso .wy-alert-title, 
.rst-content .wy-alert-success.warning .admonition-title, 
.rst-content .wy-alert-success.warning .wy-alert-title, 
.rst-content .wy-alert.wy-alert-success .admonition-title, 
.wy-alert.wy-alert-success .rst-content .admonition-title, 
.wy-alert.wy-alert-success .wy-alert-title {
    background: #0ab56d;
}

.rst-content .hint, 
.rst-content .important, 
.rst-content .tip, 
.rst-content .wy-alert-success.admonition, 
.rst-content .wy-alert-success.admonition-todo, 
.rst-content .wy-alert-success.attention, 
.rst-content .wy-alert-success.caution, 
.rst-content .wy-alert-success.danger, 
.rst-content .wy-alert-success.error, 
.rst-content .wy-alert-success.note, 
.rst-content .wy-alert-success.seealso, 
.rst-content .wy-alert-success.warning, 
.wy-alert.wy-alert-success {
    background: #112f21;
}

.rst-content .admonition-todo .admonition-title, 
.rst-content .admonition-todo .wy-alert-title, 
.rst-content .attention .admonition-title, 
.rst-content .attention .wy-alert-title, 
.rst-content .caution .admonition-title, 
.rst-content .caution .wy-alert-title, 
.rst-content .warning .admonition-title, 
.rst-content .warning .wy-alert-title, 
.rst-content .wy-alert-warning.admonition .admonition-title, 
.rst-content .wy-alert-warning.admonition .wy-alert-title, 
.rst-content .wy-alert-warning.danger .admonition-title, 
.rst-content .wy-alert-warning.danger .wy-alert-title, 
.rst-content .wy-alert-warning.error .admonition-title, 
.rst-content .wy-alert-warning.error .wy-alert-title, 
.rst-content .wy-alert-warning.hint .admonition-title, 
.rst-content .wy-alert-warning.hint .wy-alert-title, 
.rst-content .wy-alert-warning.important .admonition-title, 
.rst-content .wy-alert-warning.important .wy-alert-title, 
.rst-content .wy-alert-warning.note .admonition-title, 
.rst-content .wy-alert-warning.note .wy-alert-title, 
.rst-content .wy-alert-warning.seealso .admonition-title, 
.rst-content .wy-alert-warning.seealso .wy-alert-title, 
.rst-content .wy-alert-warning.tip .admonition-title, 
.rst-content .wy-alert-warning.tip .wy-alert-title, 
.rst-content .wy-alert.wy-alert-warning .admonition-title, 
.wy-alert.wy-alert-warning .rst-content .admonition-title, 
.wy-alert.wy-alert-warning .wy-alert-title {
    background: #913d23;
}
.rst-content .admonition-todo, 
.rst-content .attention, 
.rst-content .caution, 
.rst-content .warning, 
.rst-content .wy-alert-warning.admonition, 
.rst-content .wy-alert-warning.danger, 
.rst-content .wy-alert-warning.error, 
.rst-content .wy-alert-warning.hint, 
.rst-content .wy-alert-warning.important, 
.rst-content .wy-alert-warning.note, 
.rst-content .wy-alert-warning.seealso, 
.rst-content .wy-alert-warning.tip, 
.wy-alert.wy-alert-warning {
    background: #221715;
}

/* sphinx roles - funnction headers and all markups */

.rst-content dl > dt {
  border-left: none !important;
  background: none !important;
  color: inherit !important;
}

/* module items */
.rst-content dl.class > dt,
.rst-content dl.function > dt,
.rst-content dl.data > dt,
.rst-content dl.exception > dt {
    background: #6ab0de12 !important;
    color: #319ADF !important; 
    border-top: none !important;
    border-left: solid 1em #254d66 !important;
	padding-left: 0.7em !important;
}
.rst-content dl.method > dt,
.rst-content dl.attribute > dt,
.rst-content dl.property > dt {
    border-left: 3px solid #385149 !important;
	border-top: none !important;
	background: #1d2626 !important;
    color: #578676 !important;
	padding-left: 1em !important;
}

/* text ident headers */
.rst-content dl.docutils > dt,
.rst-content dl.simple > dt {
    border: none !important;
    background: none !important;
    color: #c6c5c5 !important;
}

/* code samples */
.rst-content code, 
.rst-content tt, 
code {
    color: #fff;
    background: transparent;
    border: 1px solid #172122;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
	font-size: 0.9em;
}
.rst-content code.literal, 
.rst-content tt.literal {
    color: #65a9d2;
}
.rst-content div[class^="highlight"], .rst-content pre.literal-block {
    border: 1px solid #1c343c;
}

/* buttons */
.btn {
    background-color: #000 !important;
    color: #70c0d9 !important;
	border: 1px solid rgb(43, 58, 72);
	box-shadow: none;
}

/* tables */
.rst-content table.docutils:not(.field-list) td {
	border: 1px solid #20484a !important;
}
.rst-content table.docutils:not(.field-list) th {
	border: 1px solid #173233 !important;
    border-bottom: 1px solid #5b8891 !important;
}
.rst-content table.docutils thead, 
.rst-content table.field-list thead, 
.wy-table thead {
    color: inherit;
}
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #141c1e !important;
}

/* markdown stuff */
h1, h2, h3 {
	border-bottom: 1px solid #c6c5c536;
	margin-top: 5%;
}
/*
h2 {
	margin-top: 15%;
}*/

.sphinx_collapse__icon {
	border-top-color: #479da2;
}
.sphinx_collapse__label {
	color: #479da2;
	font-size: 100%;
}


/* ugly stuff to correct other colors from readthedocs */

/*
.rst-content dl:not(.docutils) dl:not(.field-list) > dt, 
.rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list) > dt {
  border-left: none !important;
  background: none !important;
  color: inherit !important;
}*/

.rst-content dl:not(.docutils) .descclassname, 
.rst-content dl:not(.docutils) .descname, 
.rst-content dl:not(.docutils) .sig-name, 
.rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descclassname, 
.rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descname, 
.rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .sig-name {
    color: #ddd !important;
}

